{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Editar {% endblock title %}

{% block content %}
<div class="container">
    {% block header %}
    <h1 class="text-center">Editar</h1>
    {% endblock %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="code" class="">Código</label>
            {{ form.code |add_class:"form-control"}}
            <p class="alert alert-warning">Este código debe ser <strong>único.</strong></p>
        </div>
        <div class="form-group">
            <label for="code">Nombre</label>
            {{ form.name_town |add_class:"form-control"}}
        </div>
        <div class="form-group">
            <label for="code">Estado</label>
            {{ form.status |add_class:"form-control"}}
        </div>
        <button type="submit" class="btn btn-primary">Aceptar</button>
        <a href="../list_town" type="submit" class="btn btn-primary">Volver</a>
    </form>
</div>
{% endblock %}