.container-fluid{
    padding: 20px 300px 0 300px;
    
}

.container{
    padding-top: 20px;
}

.body-home{
    border-style: solid;
    border-width: 5px;
    border-color: cornflowerblue;
    border-radius: 25px;
    margin:20px;
    padding: 25px;

}

.alert{
    font-size: 13px !important;
}

body{
    font-size: 1.2vw
}

@media only screen and (max-width: 800px) {
    
    .container-fluid{
        padding: 20px;
    }

    body{
        font-size: 3vw
    }

    h1{
        font-size: 20px;
    }

    .btn, a, li, td{
        font-size: 12px !important;
    }

  }

  @media only screen and (max-width: 450px) {
    
    .container-fluid{
        padding: 20px;
    }

    body{
        font-size: 3vw
    }

    h1{
        font-size: 20px;
    }

    .btn, a, li, td{
        font-size: 8px !important;
    }

  }