{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Editar {% endblock title %}

{% block content %}
<div class="container">
    {% block header %}
    <h1 class="text-center">Editar</h1>
    {% endblock %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="code" class="">Código</label>
            {{ form.code |add_class:"form-control"}}
        </div>
        <div class="form-group">
            <label for="code">Nombre</label>
            {{ form.name_region |add_class:"form-control"}}
        </div>
        <div class="form-group">
            <label for="code">Municipio</label>
            {{ form.town |add_class:"form-control" | attr:"required=False" }}
            <div class="alert alert-warning" role="alert">
                Para seleccionar varias opciones presione la tecla <strong>CTRL</strong>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Aceptar</button>
        <a href="{% url 'list_region' %}" type="submit" class="btn btn-primary">Volver</a>
    </form>
</div>
{% endblock %}